
/* Your CSS Code here. */
.accio {
            width: 200px;
            height: 200px;
            background-color: #000000; /* Black background */
        }

        /* Style for the paragraph element */
        .hello-accio {
            color: #ffffff; /* White text color */
            margin-left: 32px; /* Left margin */
            padding: 10px; /* Padding on all sides */
			padding-top: 80px;
        }
